BOT_TOKEN=telegram_bot_tokeningizni_bu_yerga_yozing
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=suzani_bot
DB_USER=root
DB_PASSWORD=
ADMIN_CHAT_ID=
TELEGRAM_URL=https://t.me/abuser_99
WEBSITE_URL=https://www.art-mokhitobon.uz/
WELCOME_IMAGE_URL=
WELCOME_BANNER_MODE=sequence
WELCOME_BANNER_DIR=images
LOCATION_LATITUDE=
LOCATION_LONGITUDE=
