BOT_TOKEN=telegram_bot_tokeningizni_bu_yerga_yozing
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=suzani_bot
DB_USER=root
DB_PASSWORD=
ADMIN_CHAT_ID=
WELCOME_IMAGE_URL=
LOCATION_LATITUDE=
LOCATION_LONGITUDE=
